html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


.main {

    font-family: Helvetica, sans-serif;
    letter-spacing: -5px;

}

.picture {
    width: 50%;

    margin: auto;
}

.bio-answer {
    font-family: 'futura-pt-light', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 2rem;
    color: black;
    padding-right: 4em;
    padding-left: 4em;
}

.bio-box {
    display: flex;
    height: 50%;

}

@media only screen and (max-width: 700px) {
    .bio-box {
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .picture {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .bio-answer {
        display: block;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}