html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {


    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    -o-animation: fadein 3s;
    /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body {
    font-family: Helvetica, sans-serif;
    opacity: 0;
    transform: translateX(500px);
    transition: all 2s ease-out;

}

.body.fade-in {
    opacity: 1;
    transform: translateY(0)
}



.main {
    letter-spacing: -5px;

}






.bio {
    font-family: 'century gothic', sans-serif;
    font-size: 40px;
    text-align: left;
    padding-right: 2em;
    padding-left: 2em;
}

@media only screen and (max-width: 700px) {
    .bio {
        text-align: center;
        font-size: 25px;
    }

}

.bio-answer {
    font-family: 'futura-pt-light', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 3rem;
    color: black;
    padding-right: 2em;
    padding-left: 2em;
    text-align: left;
}



.container {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
    background-color: black;
}



/* @media only screen and (max-width: 700px) {
    .picture {
        width: 100%;
    }
} */

@media only screen and (max-width: 700px) {
    .bio-answer {
        display: block;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1em;
        line-height: 2em;
        padding-top: 25px;
        margin-bottom: 10em;
    }

}




.text-image {
    background-image: url(https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
    background-position-x: right;
    background-position-y: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text-image2 {
    background-image: url(http://dc28c2r6oodom.cloudfront.net/p/h/002.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -3px;
    margin-left: .5em;
}

.name {
    font-size: 13em;
}

@media only screen and (max-width: 700px) {
    .name {
        display: block;
        margin: auto;

        padding-right: 10px;
        font-size: 5em;
    }
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


}

.parent.fade-in {
    opacity: 1;
    transform: translateY(0)
}

@media only screen and (max-width: 700px) {
    .parent {
        display: block;


    }
}


.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 4;
}

.div3 {
    grid-area: 2 / 1 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 4 / 4;
}