{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <script src="{% static 'build/bundle.js' %}"></script>

    <title>Document</title>
</head>
<body>
        <nav class="pa3 pa4-ns main">
                <a class="link dim black  f1 f-headline-ns tc db mb3 mb4-ns" href="#" title="Home">david kirk</a>
                <div class="tc pb3">
                  <a class="link dim gray f2   " href="#" title="Contact">Contact</a>
                </div>
              </nav>
              <div class="bio-box">
              <img src="{% static '/img/David Kirk Headshot (Cohort 4).jpg' %}" class="picture" />
              <p class="bio-answer pr5 pl5">David is a Jr web developer based out of Durham NC, he started his journey in coding in February 2019 and is a recent graduate of Momentum learning, a immersive bootcamp style course where he studied HTML, CSS, Javascript, Python, Django and PostGRES. Previously he worked at whole foods for five years and before that cooked in several restaurants around the state. He is a avid digital musician and husband whos favorite pastime is hanging out with his wife and two dogs. </p>
              </div>
   
</body>
</html>